body {
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 10000px;
}

/* Header */

header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.logo {
    margin-top: 3rem;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    margin-top: 4rem;
}

.menu a {
    display: block;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    background-color: #fff;
    border: 2px solid #fff;
    padding: 1rem 2rem;
    border-radius: 0.5em;
}

.menu a:hover {
    border: 2px solid #eb1f10;
}

/* Main */

/* Section bike */

.bike {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 70rem;
    justify-self: center;
    margin-top: 4rem;
    position: relative;
}

.descrição {
    background-color: #fff;
    padding: 40px;
    text-align: right;
    position: relative;
    display: grid;
    gap: 20px;
    align-content: center;
    justify-items: end;
}

.descrição h1 {
    font-size: 2rem;
}

.descrição p {
    font-size: 1.4rem;
}

.btn {
    text-decoration: none;
    padding: 1rem 2rem;
    text-transform: uppercase;
    background-color: #eb1f10;
    color: #fff;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #990000;
}

.bike::before {
    content: '';
    width: 75px;
    height: 5px;
    background: #eb1f10;
    position: absolute;
    top: 2rem;
    right: 523px;
    z-index: 1;

}

.bike img {
    max-width: 100%;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
}
